* text=auto eol=lf
*.jpg binary
*.png binary
*.otf binary
*.zip binary
.gitignore export-ignore
.gitattributes export-ignore
.idea/ export-ignore
.vscode/ export-ignore
__pycache__/ export-ignore
*.py[cod] export-ignore
docs/ export-ignore
examples/ export-ignore
tests/ export-ignore
